<div class="container-fluid">
    <b> <a href="https://www.youtube.com/watch?v=ytOEfvU3jQs">#SemperIoppiCulpaEst</a></b>
    <br>
    <a href="https://eurovision.tv/">Alles over het Songfestival</a>
</div>